table {
	width: 100%;
}

td {
	padding: 10px;
	font-size: 20px;
	width: 10%;
}

td:nth-child(1) {
	text-align: left;
	width: 40%;
}

tr {
	border: 1px solid white;
	border-top: none;
}

tbody tr:nth-child(even) {
	background-color: #A615A5;
}

tbody tr:nth-child(odd) {
	background-color: #590B59;
}

thead tr {
	border-bottom: 3px solid white;
	border-left: none;
	border-right: none;
	background-color: #0D060D;
}