.App {
  text-align: center;
  background-color: #0D060D;
  color: white;
  min-height: 100vh;
}

.container {
    width: 100%;
    max-width: 1080px;
    display: block;
    margin: 0 auto;
    height: auto;
}
